body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {display: flex; background-color:mediumblue; color:#fff; padding:5px auto;justify-content: space-between;}
header h1{margin: 0 20px;}

nav{display: flex;}

nav, ul, li {display: flex; margin: 10px 20px; justify-content: space-between;}
nav, ul, li, a{text-decoration: none; list-style: none; color: white;} 
body {height: 100vh; font-size: 24px;}

footer {background-color:yellow; color:#000; padding:15px 0; text-align: center;}


/* ygn-section */
.ygn-section{text-align: center; }
.mdy-section{text-align: center;}
.bgn-section{text-align: center;}



/* Move Section */
.move-section{
  text-align: center;
}
.move-section h2{
  background-color: rgb(152, 152, 145);
  text-align: center;
  display: block;
  padding: 10px 0;
}

.move-section ul, li {
  display: block;
 
}

.move-section p {
  color: red;
  text-align: center;
}


.check{
  width: 25px;
}
.move-list{color: #000;
  
}
#btn-delete{
  color: green;
  padding: 0 10px;
  &:hover{
    color: red;
  }

}

/* hero */
.hero{background-image: url(../public/myanmar.jpg); background-position: center;background-size: cover;height: 50vh;
  animation: changeBackground 9s infinite; }
/* App.css */
@keyframes changeBackground {
  0% {
    background-image: url('./image/yangon.webp');
  }
  33% {
    background-image: url('../public/myanmar.jpg');
  }
  66% {
    background-image: url('./image/visit-bagan.jpg');
  }
  100% {
    background-image: url('./image/bgn.jpg');
  }
}


img {
  border-radius: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
